@{
    ViewBag.Title = "Home Page";
}

<h2 class="display-4" style="background-color:darkgray">WellCome To The world of Flagship Device</h2>
<div class="row mb-2">Sales And Services All in One
    <div>
        <ul>
            <li style="color:darkred">Service</li>
            <li style="color:darkred">Sale</li>
            <li style="color:darkred">Exchange</li>
            <li style="color:darkred">Purchase</li>
        </ul>
    </div>
    
    </div>